[Unit]
Description=Virtual PMEM SAP HANA Startup Script
After=local-fs.target
After=network.target
After=remote-fs.target

[Service]
Type=oneshot
# NOTE: Adjust the path to the startup script.
ExecStart=/bin/sh -c "/usr/sap/vpmem/vpmem_hana_startup.sh -c /usr/sap/vpmem/vpmem_hana.cfg -l /usr/sap/vpmem/vpmem_hana_startup.log"

[Install]
WantedBy=multi-user.target
